.data {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0;
    background: #FFF;
    border-radius: 4px;
    padding: 30px;
}